* {
    margin: 0px; /* resetter browser til å ta bort browser margin  */
    padding: 0px; /* resetter browser til å ta bort browser padding  */
}
body {
    background-color: #efefef; /*background color lagt til for smooth titting*/
}


#page {
    display: grid; /* setter #page i en grid */
    grid-template-columns: 200px 200px 200px; /* 3 x 3 rutenett:kolonner */
    grid-template-rows: 200px 200px 200px; /* 3 x 3 rutenett:rader */
    margin: auto; /*sentrerer på skjermen */
    padding-top: 150px; /* sentrerer på pc-skjerm */
    padding-bottom: 150px; /* sentrerer på pc-skjerm */
    width: 600px; /* width på rute * 3 */
}

img {
    width:200px; /*bredde på bilde */
    height:200px; /*høyde på bilde*/

}

div.ima