


* {
    margin: 0px; /* resetter browser til å ta bort browser margin  */
    padding: 0px; /* resetter browser til å ta bort browser padding  */
}
body {
    background-color: #efefef; /*background color lagt til for smooth titting*/
}


#page {
    display: grid; /* setter #page i en grid */
    grid-template-columns: 200px 200px 200px; /* 3 x 3 rutenett:kolonner */
    grid-template-rows: 200px 200px 200px; /* 3 x 3 rutenett:rader */
    margin: auto; /*sentrerer på skjermen */
    padding-top: 150px; /* sentrerer på pc-skjerm */
    padding-bottom: 150px; /* sentrerer på pc-skjerm */
    width: 600px; /* width på rute * 3 */
}




.rute { width: 200px; /* rute bredde*/
    height:200px; /* rute høyde*/
    position: relative; /* possisionen */
   

}

.rute:hover {
    box-shadow: none; /* fjerner at booksene beveger seg når du hovrer*/
    box-sizing: border-box; /* fjerner at booksene beveger seg når du hovrer*/
}
.blue:hover{
    /*setter farge når du hovrer over orange boks*/
}
.blue{
    background-color: rgb(230, 154, 15); /*setter farge på blue class*/
}   

.red { 
    background-color: rgb(167, 58, 177); /*setter farge på red class*/
}
.red:hover{
     /*setter farge når du hovrer over Lilla boks*/

    width: 200px; /* rute bredde*/
    height:200px; /* rute høyde*/
    position: relative; /* possisionen */
    
}

.rute:hover {
    box-shadow: none; /* fjerner at booksene beveger seg når du hovrer*/
    box-sizing: border-box; /* fjerner at booksene beveger seg når du hovrer*/
}
.blue:hover{
    /*setter farge når du hovrer over orange boks*/
}
.blue{
    background-color: rgb(230, 154, 15); /*setter farge på blue class*/
}   

.red { 
    background-color: rgb(167, 58, 177); /*setter farge på red class*/
}
    .red:hover {
        /*setter farge når du hovrer over Lilla boks*/
    }
/* .clicked { /*transformation skal her*/
    /* background-color: rgb(230, 154, 15);} */
 