


*{
    margin:0px;
    padding:0px;
   
   
}
body {
    background-color: #efefef; /*background color lagt til for smooth titting*/
}
#page {
    display: grid; /* setter #page i en grid */
    grid-template-columns: 1fr 1fr 1fr; /* 3 x 3 rutenett:kolonner */
    grid-template-rows: 1fr 1fr 1fr; /* 3 x 3 rutenett:rader */
    margin: auto; /*sentrerer på skjermen */
    padding-top: 150px; /* sentrerer på pc-skjerm */
    padding-bottom: 150px; /* sentrerer på pc-skjerm */
    width: 600px; /* width på rute * 3 */
}


.rute {
    width: 200px; /* kvadrat */
    height: 200px; /* kvadrat */
}
.rute:hover {
    box-shadow: none; /* fjerner at booksene beveger seg når du hovrer*/
    box-sizing: border-box; /* fjerner at booksene beveger seg når du hovrer*/
}
.blue:hover{
    background-color:blue;/*setter farge når du hovrer over orange boks*/
}
.blue{
    background-color: rgb(230, 154, 15); /*setter farge på blue class*/
}
.red {
    background-color: rgb(167, 58, 177); /*setter farge på red class*/
}
.red:hover{
    background-color:red; /*setter farge når du hovrer over Lilla boks*/
}
