
body{
    background-image:url('Vally.gif');
    background-size:cover;
}



.playerHealth {
    background-color: red;
    height: 25px;
    text-align:center;
    color:white;
}
.bossHealth {
    background-color: red;
    height: 25px;
    text-align: center;
    color: white;
}
.healthBarHolder{
    border:1px solid black;
    width:200px;
}
#healthWrappper{
    display:grid; 
    grid-template-columns:repeat(2, 1fr);
   
}

h3 {
    background: white;
    width: 200px;
}

h1 {
    background: white;
    width: 200px;
}

.largeButton{
    width:100px; 
    height:40px;
    margin-top:40px;
}