

.Gamecontainer {
    display: flex;
    flex-wrap: wrap;
}
.Rock img{
  
   width: 100px;;
   height:300px;
}

.Paper img{
    width:200px;
    height:300px;
}

.Scissors img{
   
    width:200px;
    height:300px;
}

#modal{
    width:80%;
    height:80%;
    background:white;
    position:absolute;
    z-index:1; 
    top:20px;
    margin:auto;
    text-align:center;
    padding-top:50px;
}