
.clearfix{
    overflow: auto;
}
#app{margin:auto;text-align:center;}
.center {
    height: 200px;
    position: absolute;
}

.Gamecontainer {
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    align-content:center;
    margin-left:200px;
}
.Rock img{
  
   width: auto;
   height:300px;
}

.Paper img{
    width:auto;
    height:300px;
}

.Scissors img{
   
    width:auto;
    height:300px;
}

#modal{
    width:80%;
    height:80%;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(141, 141, 141), rgb(77, 77, 77));
    position:absolute;
    z-index:1; 
    top:20px;
    margin:auto;
    text-align:center;
    padding-top:50px;
    left:50px;
}

body{
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(141, 141, 141), rgb(77, 77, 77));
}
